/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
}

 #wrapper {
    width: 100%;
    background:#2E353D;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px 40px;
    min-height:600px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}


/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height:170px;
    max-width:170px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
    background: #f15f43;
    width: 260px;
    text-align: center;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
}
.active-menu {
    background-color: #4F5B69 !important;
    border-left: 3px solid #D19B3D;
}

.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#2E353D;
	text-shadow:none;
}
.sidebar-collapse > .nav > li > a {
	padding:15px 25px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background:#4F5B69;
	outline:0;
    border-left: 3px solid #D19B3D;
}
.navbar-side {
	border:none;
	background-color: #2E353D;
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
}
.navbar-cls-top .navbar-brand:hover {
    background: #f15f43;
    color:#fff;
}
.navbar-default {
    border:0px solid black;
}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #B40101;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}

/*==============================================
    FORM STYLES     
    =============================================*/
.form-padding{
    padding: 0 12%;
}
.form-group > label{
    color: #666666;
}
.req{
    color: #3399CC;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
     -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

/*==============================================
    EDUCATION       
    =============================================*/
.group label{
  width: 25%;
  text-align: right;
}
.custom{
  margin-left: 1%
}
.custom-select{
  float: left;
}
.next{
  text-align: center;
}
.next>.btn, .next>.btn:hover{
  margin: 20px 0 0 1%;
  outline: none!important;
  transition: all ease 0.5s;
}

/*==============================================
    SKILLS     
    =============================================*/
.skilltable td{
    padding: 8px 4px;
}

/*==============================================
    OTHERS     
    =============================================*/
.skill td{
    padding: 8px 4px;
}

/*==============================================
    PROJECTS     
    =============================================*/
.grp label{
    text-align: right;
}    
/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 600px;
	}
	
	.navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
        border-radius: 0px;     
    }
}

@media(max-width: 768px){
    .form-padding{
        padding: 0;
    }
}


