/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
}

 #wrapper {
    width: 100%;
    background:#2E353D;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding: 40px;
    min-height:600px;
}

.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}


/*==============================================
    MENU STYLES    
    =============================================*/
.navbar-cls-top .navbar-brand {
	color: #fff;
    background: #f15f43;
    width: 260px;
    text-align: center;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
}
.active-menu {
    background-color: #4F5B69 !important;
    border-left: 3px solid #D19B3D;
}

.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#2E353D;
	text-shadow:none;
}
.sidebar-collapse > .nav > li > a {
	padding:15px 25px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background:#4F5B69;
	outline:0;
    border-left: 3px solid #D19B3D;
}
.navbar-side {
	border:none;
	background-color: #2E353D;
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
}
.navbar-cls-top .navbar-brand:hover {
    background: #f15f43;
    color:#fff;
}
.navbar-default {
    border:0px solid black;
}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #B40101;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}

.center{
    text-align: center;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    text-align: center !important;
}    

.page-wrapper{
    border: 3px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}
/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 600px;
	}
	
	.navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
        border-radius: 0px;     
    }
}



